<h1>directives works!</h1>

<h2>Directives Nedir?</h2>
<p>HTML elemanlarına ekstra özellikler ve davranışlar eklemek için kullanılan özel etiketlerdir.</p>

<h2>Directives Nasıl Kullanılır?</h2>
<p>İster hazır olsun ister custom, bir directive'in kullanımı aşağıdaki gibidir.</p>
<p>Örnek: </p>

<h2>Built-in/Hazır/Ön Tanımlı Directive'ler Nelerdir?</h2>
<p>Custom directive'leri geliştirmeden önce mimari tarafından bizlere sunulan ve belirli işlemlere odaklı davranışlar
    sergileyen directive'leri incelemekte fayda vardır. Bu directive'ler şunlardır;</p>
<ul>
    <li>ngFor</li>
    <li>ngSwitch</li>
    <li>ngIf</li>
    <li>ngClass</li>
    <li>ngStyle</li>
    <li>ngModel</li>
    <li>ngNonBindable</li>
</ul>

<h2>ngFor Directive</h2>
<p>HTML nesneleri üzerinde iterasyonel işlemler yapmak için kullanılan directive'dir. Örnek Çalışma;</p>
<ul>
    <li *ngFor="let ngFor of ngFors">{{ngFor}}</li>
</ul>
<p>Verilen array/ veri kümesi içerisindeki eleman sayısı kadar ilgili HTML nesnesini repeat edecektir(tekrarlayacaktır).
</p>
<p>Ayrıca istendiği takdirde aşağıdaki gibi kullanarakta her bir elemanın index değeri de hızlıca elde edilebilir.</p>
<ul>
    <li *ngFor="let ngFor of ngFors;index as index">{{ngFor}} - {{index}}</li>
</ul>
<p>Veya <span style="color: red;">index, first, last, even ve odd</span> keywordleri eşliğinde ngFor directive'ini daha
    da karmaşık kullanabilirsiniz. Örnek Çalışma;
</p>
<ul>
    <li>veri - index - isFirst(ilk mi?) - isLast(son mu?) - isEven(çift mi?) - isOdd(tek mi?)</li>
    <li *ngFor="let ngFor of ngFors; let index = index;
                                     let isFirst = first;
                                     let isLast = last;
                                     let isEven = even;
                                     let isOdd = odd">
        {{ngFor}} - {{index}} - {{isFirst}} - {{isLast}} - {{isEven}} - {{isOdd}}
    </li>
</ul>

<h2>ngIf Directive</h2>
<p>Verilen koşula göre HTML nesnelerinin görünürlüğünü kontrol etmek için kullanılan temel bir angular directive'dir.
    Örnek Çalışma;
</p>
<p *ngIf="visible ; else visibleFalse">Burası ngIf kullanılan ve visible'nin true olduğu bir çalımadır</p>
<ng-template #visibleFalse>
    <p>Burası visible'nin false olduğu ng-template çalışmasıdır.</p>
</ng-template>
<p>ngIf directive'inde else/if mantığında davranış doğrudan sergilenemez.</p>

<h2>ngSwitch</h2>
<p>Verilen koşula göre HTML nesnelerinin görünürlüğünü veya içeriğini değiştirmek için kullanılan temel bir
    directive'dir. Örnek Çalışma;</p>
<ul [ngSwitch]="sayi">
    <li *ngSwitchCase="1">sayı 1</li>
    <li *ngSwitchCase="2">sayı 2</li>
    <li *ngSwitchCase="3">sayı 3</li>
    <li *ngSwitchDefault>Hiçbiri</li>
</ul>

<h2>ngClass Directive</h2>
<p>HTML etiketlerinin class değerini dinamik olarak yönetebilmemizi sağlayan directive'dir. Örnek Çalışma;</p>

<h2>ngStyle Directive</h2>
<p>HTML etiketlerinin style değerlerini dinamik olarak yönetebilmemizi sağlayan directive'dir. Örnek Çalışma;</p>
<p [ngStyle]="style">Burası örnek çalışma</p>

<h2>ngModel & ngNonBindable</h2>
<p>ngModel Directive: Form nesnelerinde Two-Way Data Binding çalışma yapabilmemizi sağlayan directive'dir</p>

<h1 style="text-align: end">CUSTOM DİRECTİVES</h1>
<p appExample color="blue">Custom Example Örnek Çalışması.</p>

<h1 style="text-align: end">STRUCTURAL DİRECTİVES</h1>
<h2>Structural Directive Nedir?</h2>
<p>HTML nesnesini ve DOM yapısını fiziksel olarak manipüle ederek sayfa üzerinde değişiklikler yapmamızı sağlayan
    directive türüdür.</p>
<p>Structural Directive'ler "<strong>*</strong>" karakteri ile çağırılmalıdır.</p>
<p>Normal Directive'ler ve Structural Directive'ler arasındaki farklar;</p>
<ul>
    <li>
        <p><strong>Structural Directive'ler</strong> HTML şablonundaki DOM elemanlarının görünümünü fiziksel olarak
            değiştirerek template'in
            yapısını değiştirebilirler.</p>
    </li>
    <li>
        <p><strong>Normal Directive'ler</strong> ise HMTL şablonundaki DOM elemanlarının görünümünü değiştirmez, sadece
            ekstra özellikler
            eklerler/değiştirler/silerler.</p>
    </li>
</ul>
<p>Structural Directive'ler de <strong>TemplateRef</strong> ve <strong>ViewContainerRef</strong> olmak üzere iki modül
    ile karşılamaktadır.</p>
<ul>
    <li><strong>TemplateRef:</strong>
        <span> Directive'in kullanıldığı template'i temsil eder.</span>
    </li>
    <li><strong>ViewContainerRef:</strong>
        <span>Angular'da bir template'in içeriğini içeren container'ın referansı'dır. Bu container içerisinden dinamik
            olarak HTML elemanları eklemeye veya çıkarmaya yarar. İleride bir component'in dinamik olarak yüklenmesini
            sağladığınıda görüyor olacağız.</span>
    </li>
</ul>

<h2>If şartı için Custom Structural Directive Oluşturma</h2>

<p *appCustomIf="true">Structural Example Örnek Çalışması. True ise görünecek, False ise görünmeyecek.</p>
<p *appCustomIf="false">False olduğu için örnek çalışma görünmüyor.</p>

<h2>İterasyonel Davranış İçin Custom Directive Oluşturma</h2>
<!-- Calisma 1 -->
<!-- <ul>
    <li *appCustomFor="5">Örnek Çalışma</li>
</ul>

<h2>Custom Structural Directive İçerisinden Değer Döndürme</h2>
<ul>
    <li *appCustomFor="5; let i = index">Örnek Çalışma - {{i+1}}</li>
</ul> -->

<p>Eğer ki directive'i kullanırken değerleri otomatik olarak karşılmak isterseniz $implicit operatörünü
    kullanabilirsiniz.</p>
<!-- Calisma 2 -->
<ul>
    <li *appCustomFor="names; let name; let index = index">{{index+1}} - {{name}}</li>
</ul>
