<h1>ANGULAR YAPI TAŞLARI</h1>
<ul>
  <li>Modules</li>
  <li>Components</li>
  <li>Data Binding</li>
  <li>Dependency Injection</li>
  <li>Directives</li>
  <li>Decorators</li>
  <li>Services</li>
  <li>Templates</li>
  <li>Pipes</li>
</ul>

<h2>Modules</h2>
<ul>
  <li>Angular mimarisinde module yapılanması uygulama öğelerinin gruplandırılmasını sağlamaktadır. Böylece uygulama daha
    düzenli bir şekilde inşa edilir.</li>
  <li>Modüller, uygulamanın çeşitli parçalarını(components, services vs.) bir araya getirerek bir bütün olarak
    kullanılabilir kılmaktadır</li>
</ul>

<h2>Components</h2>
<ul>
  <li>Component'ler uygulamanın bütün işlevsel operasyonlarının temel operasyonlarının merkezini ifade eder.</li>
  <li>Yapısal olarak birer HTML ve TypeScript dosyalarından oluşmaktadır.</li>
</ul>

<h2>Data Binding</h2>
<ul>
  <li>Angular mimarisi, Data Binding özelliği sayesinde veri modeli ile template'ler arasında veri akışını dinamik bir
    şekilde sağlayabilmektedir.</li>
</ul>

<h2>Directives</h2>
<ul>
  <li>HTML nesnelerinin davranışlarını ve görünümlerini yönetmemizi sağlayan özel etiketlerdir.</li>
</ul>

<h2>Decorators</h2>
<ul>
  <li>Decorator sayesinde bir class'a veya bir class member'ına -metadata- ekleyebilmekteyiz. Böylece ilgili yapının
    davranışı hakkında bir öntanımda bulunabiliriz.</li>
</ul>

<h2>Services</h2>
<ul>
  <li>
    Angular'da genellikler dış servislerler(API - endpoint) iletişim kurmak, karmaşık iş operasyonlarını veya
    business
    logic'i yürütmek yahut componentler arasında iletişim sağlayabilmek için kullanılan fiili yapılardır
  </li>
</ul>

<h2>Templates</h2>
<ul>
  <li>
    Componentlerin HTML kısmıdır. İçerisinde HTML kodları barındırabileceği gibi özel Angular elemanları, directive'ler,
    pipe'lar vs. barındırabilir ve bunları işlevlerine göre çalıştırabilir.
  </li>
  <li>
    Data Binding özelliğini desteklemekte ve böylece veri modelleriyle dinamik şekildeetkileşime girebilmektedir.
  </li>
</ul>

<h2>Guards</h2>
<ul>
  <li>
    Angular uygulamasında route erişimlerini izin kontrolleri Guard yapılanması üzerinden gerçekleştirilmektedir.
  </li>
  <li>
    Sayfalar arası geçiş süreçlerinde ilgili kullanıcının erişimine izin verilip verilmeyeceğine dair karar veren
    yapılardır.
  </li>
  <li>
    Böylece Angular uygulamasının güvenliği ve yetkilendirme işlemleri Guard yapıları ile sağlanmaktadır.
  </li>
</ul>

<h2>Pipes</h2>
<ul>
  <li>verilerin görüntülenme süreçlerinde işlenmesine yönelik işlevsellik sağlayan yapılardır.</li>
  <li>Misal olarak; bir verinin tarihsel veya parasal biçime dönüştürülmesi pipe'lar sayesinde gerçekleştirilmektedir
  </li>
</ul>